#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 0px;
  background: #9ab0cc;
  
}

h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}

hr {
    border: none; 
    background-color: rgb(94, 95, 55); 
    color: rgb(245, 248, 83); 
    height: 2px; 
   }


    
    #app .wrapper {
        display: inline-block;
        width: 280px;
        margin: 0 10px 0 0;
        height: 20px;
        position: relative;
    }
    
    #app .parent {
        height: 100%;
        width: 100%;
        display: block;
        cursor: pointer;
        line-height: 30px;
        height: 30px;
        border-radius: 5px;
        background: rgb(216, 230, 135);
        border: 1px solid #AAA;
        border-bottom: 1px solid #777;
        color: #282D31;
        font-weight: bold;
        z-index: 2;
        position: relative;
        -webkit-transition: border-radius .1s linear, 
        background .1s linear, z-index 0s linear;
        -webkit-transition-delay: .8s;
        text-align: center;
    }
    
    #app .parent:hover,
    #app .content:hover ~ .parent {
        background: #fff;
        -webkit-transition-delay: 0s, 0s, 0s;
    }
    
    #app .content:hover ~ .parent {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        z-index: 0;
    }
    
    #app .content {
        position: absolute;
        top: 0;
        display: block;
        z-index: 1;
        height: 0;
        width: 280px;
        padding-top: 30px;
        -webkit-transition: height .5s ease;
        -webkit-transition-delay: .4s;
        border: 1px solid #777;
        border-radius: 5px;
        box-shadow: 0 1px 2px rgba(0,0,0,.4);
    }
    
    #app .wrapper:active .content {
        height: 170px;
        z-index: 3;
        -webkit-transition-delay: 0s;
    }
    
    #app .content:hover {
        height: 170px;
        z-index: 3;
        -webkit-transition-delay: 0s;
    }
    
    
    #app .content ul {
        background: #fff;
        margin: 0;
        padding: 0;
        overflow: hidden;
        height: 100%;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    
    #app .content ul a {
        text-decoration: none;
    }
    
    #app .content li:hover {
        background: #eee;
        color: #333;
    }
    
    #app .content li {
        list-style: none;
        text-align: left;
        color: #888;
        font-size: 14px;
        line-height: 30px;
        height: 30px;
        padding-left: 10px;
        border-top: 1px solid #ccc;
    }
    
    #app .content li:last-of-type {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

/* ===================================================================================================== */
    
    * {
        box-sizing: border-box;
    }
    head {
        background-color: #7f87aa;
        display: flex;
        justify-content: center;
        /* padding: 80px 0; */
        }
    body {
        background-color: #7f87aa;
        /* display: flex; */
        justify-content: center;
        padding: 80px 0;
        }
        .grid {
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin: 0 auto;
        }
        .grid_item {
            width: 30%;
            flex-grow: 1;
            flex-shrink: 1;
            margin: 0 20px 40px;
        }
        .card {
            background-color: #fff;
            overflow: hidden;
            box-shadow: 0 1px 2px rgba(0,0,0,.2);
            border-radius: 2px;
            line-height: 0;
            cursor: pointer;
        }
        .card.hover {
            box-shadow: 0 3px 6px rgba(0,0,0,.2);
        }
        .card_body {
            width: 100%;
            height: 215;
            overflow: hidden;
            background-color: #eee;
        }
        .card_body img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .card_footer {
            width: 100%;
            padding: 10px 15px;
        }
        .media_obj {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            background-color: #d8d8d8;
            margin-right: 15px;
            float: left;
        }
        .media_body {
            width: 100%;
            height: 32px;
            line-height: 32px;
        }
        .media_body a {
            font-family: Courier, serif;
            font-size: 15px;
            color: #999;
        }
        .media_body a:hover {
            text-decoration: none;
        }
        .pagination {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin: 0 auto 60px;
            padding: 0 15px;
        }
        .pagination_left, .pagination_right {
            /* width: 20%; */
            /* background-color: #586777; */
        }
        .pagination_left {
            float: left;
        }
        .pagination_right {
            float: right;
        }
        .pagination_right a {
            float: right;
        }
        .pagination a, .pagination span {
            display: block;
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 300;
            line-height: 42px;
            height: 44px;
            color: rgb(92, 22, 22);
            font-size: 18px;
        }
        .pagination a {
            padding: 0 20px;
            max-width: 160px;
            /* background-color: transparent; */
            background-color: #6caf7a;
            border-radius: 4px;
            border: 1px solid rgb(92, 22, 22);
            text-decoration: none;
            margin: 0 6px;
            transition: all .2s ease-in-out;
        }
        .pagination a:hover, .pagination a.current {
            border-color: #a31b1b;
            color: #a31b1b;
        }
        .pagination_mid {
            display: flex;
            justify-content: center;
            width: 60%;
        }
        .pagination_mid ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }
        .pagination_mid li {
            display: inline-block;
        }
        .jump {
            color: #999;
        }

        /* =============================================================================================== */

        .my-flex-container{
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;
            align-content: flex-start;
            
          }